body {
  margin: 0;
  font-family: Inter, Roboto, Arial, sans-serif;
  background-color: #f9fafb;
}
header,main,footer {
  padding: 0 1em;
  margin: 3em auto;
  max-width: 768px;
}
main svg {
  fill: gray;
  max-width: 400px;
}
h1 {
  margin: 0;
  font-weight: 800;
  color: #161e2e;
}

.overhead {
  text-transform: uppercase;
  margin: 0;
  letter-spacing: .125em;
  font-weight: 700;
  color: goldenrod;
}